# Análise explanatória 

*** Objetivos: ***

* Entender o que é e como aplicar um workflow 
* Entender o modelo, entender o conceito de métricas aplicar avaliação de regras de negócio.
* Aplicar análise explanatoria, técnicas de estatística, queryes e afins.
* Entendimento de modelos.
* Data handling.
* Modelo de dados (tratamento de data missing, outliers)
* Criação de apresentação de dados com jupyter


## Workflow - Engenharia de Software  

Para que haja um entendimento completo e um projeto organizado orienta-se seguir algum método de engenharia de software definindo um workflow, existens alguns workflows famosos ultilizados no mercado como por exemplo [Crisp-dm](https://www.kdnuggets.com/2014/10/crisp-dm-top-methodology-analytics-data-mining-data-science-projects.html) e o [Microsoft Workflow for Data Science](https://docs.microsoft.com/en-us/azure/machine-learning/team-data-science-process/lifecycle-business-understanding) ambos os modelos são totalmente aplicáveis e ultilizados para o trabalho de um cientista de dados, tais técnicas são fundamentais para o trabalho em grupo. 
Nesse artigo ultilizaremos o Microsoft Workflow, que se baseia nos seguintes passos:

+ Business Understanding
+ Data Acquisition and Understanding
+ Modeling
+ Deployment
+ Customer Acceptance

![image.png](https://docs.microsoft.com/en-us/azure/machine-learning/team-data-science-process/media/overview/tdsp-lifecycle2.png)

Fonte [Microsoft Data Science](https://docs.microsoft.com/en-us/azure/machine-learning/team-data-science-process/lifecycle-business-understanding)

*** 1 - Busness understanding ***

A parte de entendimento do negócio se baseia no entendimento do modelo, métricas e variáveis. Nessa fase estuda-se o modelo, define o problema a ser resolvido e as métricas ultilizadas para que seu resultado seja válido e impactante no negócio.


*** 2 Data acquisition and understanding *** 

Na aquisição dos dados o objetivo é agrupar os dados e desenvolver seu dataset tendo em vista a criação de um dataset limpo e de qualidade, essa parte do projeto é a mais trabalhosa principalmente pela função da limpagem dos dados, em casos onde o profissional trabalha com dados não estruturados essa parte do projeto pode levar até meses. 

Na fase de aquisição dos dados também é necessária a definição da arquitetura ultilizada no projeto, precisa-se ultilizar uma visão analítica e avaliar seu dataset e assim definir quantas pipelines você irá ultilizar, se o projeto ultilizara um cluster x ou y, se necessitara de uma arquitetura de clusterização como handop e etc. 

*** 3 Modeling *** 

Aqui na modelagem você deve determinar qual modelo de machine learning ou modelo estatístico ultilizado.
Uma das partes mais importantes nesse estágio é a separação do seu dataset em treino e teste, geralmente existem abordagens como 60-40 onde voce faz uma divisão em seu dataset com 60% treino e 40% teste até técnicas mais trabalhadas como walking forward algorithm que se encarrega de efetuar inúmeras divisões em seu modelo para facilitar a validação futura.

Nsse passo específico você pode seguir a seguinte abordagem

* *** Divida seu dataset *** como por exemplo uma divisão 60 - 40
* *** Treine inúmeros modelos *** Treine vários modelos de dados, teste inúmeros algorítmos.
* *** Teste  e valide os modelos *** Execute os testes com todos os modelos treinados, ultilize tecnicas como cross validation e A/B testing
* *** Determine a "melhor" solução ***  Escolha o algorítmo que representa os melhores resultados nos testes, os melhores modelos irão para produção. No estágio de produção monitore constantemente seus resultados, retire as métricas e avalie elas calmamente.

*** 4 Deployment *** 

No passo de desenvolvimento você vai montar o projeto para o usuario final, tenha criatividade e ultlize o melhor das técnicas de vizualização como:

+ Online websites
+ Spreadsheets
+ Dashboards
+ Line-of-business applications
+ Back-end applications

*** 5 Customer acceptance *** 

Agora você ja está terminando o projeto revise seu modelo, reveja todos os detalhes e principalmente *** garanta que você está entregando o que seu cliente realmente quer ***  e receba o feedback. Caso necessário reveja os passos anteriores.


#  Workflow, análise explanatória Medical Cost Personal Datasets

Para demostração ultiliza-se o [Medical Cost Personal Datasets](https://www.kaggle.com/mirichoi0218/insurance)  esse dataset é abordado no livro [Machine Learning with R by Brett Lantz](https://www.amazon.com.br/Machine-Learning-R-Brett-Lantz/dp/1782162143) e tais dados são de domínio publico, esse dataset e outros do livro se encontram pada download [aqui](https://github.com/stedy/Machine-Learning-with-R-datasets).

*** 1 - Busness understanding ***

Com esse dataset são possíveis inúmeras análises estatísticas e permite uma análise explanatória ideal, também pode ser ultilizada com machine learning para predição de custo, regressões lineares e afins.

Colunas 
- age: Idade do beneficiário.

- sex: Gênero explicito como: female, male.

- bmi: Do inglês Body mass index, o índice de massa corporal, é calculado como:  (peso(kg) / altura(m) ^ 2) e os valores ideais estão entre,  18.5 a 24.9.

- children: Número de crianças cobertas pelo plano de saúde.

- smoker: Fumante ou não.

- region: Região dos EUA onde o beneficiário vive, northeast, southeast, southwest, northwest.

- charges: Custo pago pelo plano de  saúde.

Entendimento do modelo:

*** Questionar sobre ***  
+ "O que posso extrair com esses dados?"
+ "O quais dados posso cruzar?"
+ "Quão importante é essa pesquisa?"
+ "Quão impactante é essa pesquisa?"

*** 2 Data acquisition and understanding ***

*** 1 - Limpeza dos dados - tratando missing data ***
No dataset foram inseridos alguns campos Nan e campos com valores em branco o primeiro passo após o download do dataset e carregar os dados  é remover tais campos pois eles contém informações inválidas. No nosso caso faremos o descarte total das linhas.

*** Obs 2: *** A partir de agora ultilizaremos o python. Considerando que você ja tenha lido a [aula 1](https://github.com/araramakerspace/CursoDataScience/blob/master/Aula1-pandas%2Bmatplot/aula1.ipynb)


*** Obs 2: *** O pandas dedicou uma pagina exclusiva para tratamento de data missing [aqui](https://pandas.pydata.org/pandas-docs/stable/missing_data.html)

Primeiro executamos o metodo head() do pandas para mostrar os primeiros elementos em seguida o método isna() que verifica as dataMissing e retornam verdadeiro ou falso

In [21]:
import pandas as pd #biblioteca para manupular os dataframes
import matplotlib.pyplot as plt #biblioteca para gráficos
import seaborn as sns  #biblioteca para gráficos
import numpy as np #biblioteca algebra linear

#habilita iteração com os gráficos
%matplotlib notebook

# %matplotlib inline

df = pd.read_csv("insurance.csv")

df.head(10)

    age     sex     bmi  children smoker     region      charges
0  19.0  female    27.9         0    yes        NaN  16884.92400
1  19.0  female    27.9         0    yes  southwest  16884.92400
2  18.0    male   33.77         1     no  southeast   1725.55230
3   NaN    male   33.77         1     no  southeast   1725.55230
4  28.0    male      33         3     no  southeast   4449.46200
5  28.0    male      33         3     no              4449.46200
6  33.0    male  22.705         0     no  northwest  21984.47061
7  32.0    male   28.88         0     no  northwest   3866.85520
8  32.0    male     NaN         0     no        NaN   3866.85520
9  31.0  female   25.74         0     no  southeast   3756.62160

In [22]:
df.isna()

        age    sex    bmi  children  smoker  region  charges
0     False  False  False     False   False    True    False
1     False  False  False     False   False   False    False
2     False  False  False     False   False   False    False
3      True  False  False     False   False   False    False
4     False  False  False     False   False   False    False
5     False  False  False     False   False   False    False
6     False  False  False     False   False   False    False
7     False  False  False     False   False   False    False
8     False  False   True     False   False    True    False
9     False  False  False     False   False   False    False
10    False  False  False     False   False   False    False
11    False  False  False     False   False   False    False
12    False  False  False     False   False   False    False
13    False  False  False     False   False   False    False
14    False  False  False     False   False   False    False
15    False  False  False     False   False   False    False
16    False  False  False     False   False   False    False
17    False   True  False     False   False   False    False
18    False  False  False     False   False   False    False
19    False  False  False     False   False   False    False
20    False  False  False     False   False   False    False
21    False  False  False     False   False   False    False
22    False  False  False     False   False   False    False
23    False  False  False     False   False   False    False
24    False  False  False     False   False   False    False
25    False  False  False     False   False   False    False
26    False  False  False     False   False   False    False
27    False  False  False     False   False   False    False
28    False  False  False     False   False   False    False
29    False  False  False     False   False   False    False
...     ...    ...    ...       ...     ...     ...      ...
1316  False  False  False     False   False   False    False
1317  False  False  False     False   False   False    False
1318  False  False  False     False   False   False    False
1319  False  False  False     False   False   False    False
1320  False  False  False     False   False   False    False
1321  False  False  False     False   False   False    False
1322  False  False  False     False   False   False    False
1323  False  False  False     False   False   False    False
1324  False  False  False     False   False   False    False
1325  False  False  False     False   False   False    False
1326  False  False  False     False   False   False    False
1327  False  False  False     False   False   False    False
1328  False  False  False     False   False   False    False
1329  False  False  False     False   False   False    False
1330  False  False  False     False   False   False    False
1331  False  False  False     False   False   False    False
1332  False  False  False     False   False   False    False
1333  False  False  False     False   False   False    False
1334  False  False  False     False   False   False    False
1335  False  False  False     False   False   False    False
1336  False  False  False     False   False   False    False
1337  False  False  False     False   False   False    False
1338  False  False  False     False   False   False    False
1339  False  False  False     False   False   False    False
1340  False  False  False     False   False   False    False
1341  False  False  False     False   False   False    False
1342  False  False  False     False   False   False    False
1343  False  False  False     False   False   False    False
1344  False  False  False     False   False   False    False
1345  False  False  False     False   False   False    False

[1346 rows x 7 columns]

*** Para remover as datas missing ultiliza-se o comando df.dropna(how='all') para apagar as linhas NaN, o argumento how= 'all ' indica a configuração apra apagar as ocorrências em todas as colunas, caso deseje verificar apenas alguma coluna especifico indique-a no argumento ***

In [24]:
df.dropna(how='all')

       age     sex     bmi  children smoker     region      charges
0     19.0  female    27.9         0    yes        NaN  16884.92400
1     19.0  female    27.9         0    yes  southwest  16884.92400
2     18.0    male   33.77         1     no  southeast   1725.55230
3      NaN    male   33.77         1     no  southeast   1725.55230
4     28.0    male      33         3     no  southeast   4449.46200
5     28.0    male      33         3     no              4449.46200
6     33.0    male  22.705         0     no  northwest  21984.47061
7     32.0    male   28.88         0     no  northwest   3866.85520
8     32.0    male     NaN         0     no        NaN   3866.85520
9     31.0  female   25.74         0     no  southeast   3756.62160
10    46.0  female   33.44         1     no  southeast   8240.58960
11    46.0  female   33.44         1         southeast   8240.58960
12    46.0  female  NaN.44         1     no  southeast   8240.58960
13    37.0  female   27.74         3     no  northwest   7281.50560
14    37.0    male   29.83         2     no  northeast   6406.41070
15    60.0  female   25.84         0     no  northwest  28923.13692
16    25.0    male   26.22         0     no  northeast   2721.32080
17    25.0     NaN   26.22         0     no  northeast   2721.32080
18    62.0  female   26.29         0    yes  southeast  27808.72510
19    23.0    male    34.4         0     no  southwest   1826.84300
20    56.0  female   39.82         0     no  southeast  11090.71780
21    27.0    male   42.13         0    yes  southeast  39611.75770
22    19.0    male    24.6         1     no  southwest   1837.23700
23    52.0  female   30.78         1     no  northeast  10797.33620
24    52.0  female   30.78         1     no             10797.33620
25    23.0    male  23.845         0     no  northeast   2395.17155
26    56.0    male    40.3         0     no  southwest  10602.38500
27    30.0    male    35.3         0    yes  southwest  36837.46700
28    60.0  female  36.005         0     no  northeast  13228.84695
29    30.0  female    32.4         1     no  southwest   4149.73600
...    ...     ...     ...       ...    ...        ...          ...
1316  25.0  female    30.2         0    yes  southwest  33900.65300
1317  41.0    male    32.2         2     no  southwest   6875.96100
1318  42.0    male  26.315         1     no  northwest   6940.90985
1319  33.0  female  26.695         0     no  northwest   4571.41305
1320  34.0    male    42.9         1     no  southwest   4536.25900
1321  19.0  female    34.7         2    yes  southwest  36397.57600
1322  30.0  female  23.655         3    yes  northwest  18765.87545
1323  18.0    male   28.31         1     no  northeast  11272.33139
1324  19.0  female    20.6         0     no  southwest   1731.67700
1325  18.0    male   53.13         0     no  southeast   1163.46270
1326  35.0    male   39.71         4     no  northeast  19496.71917
1327  39.0  female  26.315         2     no  northwest   7201.70085
1328  31.0    male  31.065         3     no  northwest   5425.02335
1329  62.0    male  26.695         0    yes  northeast  28101.33305
1330  62.0    male   38.83         0     no  southeast  12981.34570
1331  42.0  female   40.37         2    yes  southeast  43896.37630
1332  31.0    male  25.935         1     no  northwest   4239.89265
1333  61.0    male  33.535         0     no  northeast  13143.33665
1334  42.0  female   32.87         0     no  northeast   7050.02130
1335  51.0    male   30.03         1     no  southeast   9377.90470
1336  23.0  female  24.225         2     no  northeast  22395.74424
1337  52.0    male    38.6         2     no  southwest  10325.20600
1338  57.0  female   25.74         2     no  southeast  12629.16560
1339  23.0  female    33.4         0     no  southwest  10795.93733
1340  52.0  female    44.7         3     no  southwest  11411.68500
1341  50.0    male   30.97         3     no  northwest  10600.54830
1342  18.0  female   31.92         0     no  northeast   2205.98080
1343  18.0  female   36.85         0     no  southeast   1629.83350
1344  21.0  female    25.8         0     no  southwest   2007.94500
1345  61.0  female   29.07         0    yes  northwest  29141.36030

[1346 rows x 7 columns]





guia (---(coisa gabs) --- IGNORAR O ESCRITO NESSE BLOCO [RASCUNHO])
- Discuções e entendimento de modelos de negócio 
- Análises explanatórias e estatística.
- Entendimento de modelos
- Data handling 
- Modelo de dados (tratamento de data missing, outliers)
- Modelos estatísticos
- Criação de apresentação de dados com jupyter

dataset da aula [gastos medicos](https://www.kaggle.com/mirichoi0218/insurance)


leitura adicional (análise estatística, estatística aplicada):
https://www.kaggle.com/janiobachmann/statistical-analysis-a-frequentist-approach


ordem
*** uns 3 slides de teoria, seguir a análise explanatoria seguindo o workflow da microsoft (claro reduzido) *** 
- Microsoft Workflow para data Science -> explicar como funciona o metodo do workflow (engenharia de software) ver [aqui] (https://docs.microsoft.com/enus/azure/machine-learning/team-data-science-process/overview)
                                                                                      
- Discuções e entendimento de modelos de negócio Falar de como aplicar as metricas, dos desafios de escolher as melhores metricas no nosso exemplo ficara bem claro

- analise explanatoria completa

Realizar uma analise explanatoria completa explicanto todos os conceitos em paralelo,